<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Regis</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="post" enctype="multipart/form-data">-->
<!--    <h2>Добро пожаловать пройдите регистрацию!</h2>-->
<!--    {% csrf_token %}-->
<!--    {{form.as_p}}-->
<!--    <button type="submit">Regis</button>-->
<!--</form>-->
<!--<h3>Уже есть аккаунт?</h3>-->
<!--<button><a href="/login_app/">Авторизация</a></button>-->
<!--</body>-->
<!--</html>-->